html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

header{
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  line-height: 1;
  background-image: url(img/Background/back_miroir.svg);
  background-size : cover;
  background-position: center;

}

/* MISE EN PAGE DU TEXTE */

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.PressStart{
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CADRE DU JEU */
.cadre{
  height: 700px;
  width: 700px;
  background-image: url(img/Background/background3.png);
  border: solid 2px grey;
  position: relative;
  overflow: hidden;
}
/* HEROS */
#carre{
  height: 50px;
  width: 50px;
  background-image: url(img/hero/hero_fixe.png);
  position: absolute;
  top: 300px;
  left: 300px;
}
/* ENNEMIS */
#ennemi1{
  height: 50px;
  width: 50px;
  background-image: url(img/ennemi/ennemi_fixe.png);
  background-size: cover;
  position: absolute;
  top: 50px;
  left: 50px;
}

#ennemi2{
  height: 50px;
  width: 50px;
  background-image: url(img/ennemi/ennemi_fixe.png);
  background-size: cover;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#ennemi3{
  height: 50px;
  width: 50px;
  background-image: url(img/ennemi/ennemi_fixe.png);
  background-size: cover;
  position: absolute;
  top: 50px;
  right: 50px;
}

#ennemi4{
  height: 50px;
  width: 50px;
  background-image: url(img/ennemi/ennemi_fixe.png);
  background-size: cover;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#ennemi5{
  height: 50px;
  width: 50px;
  background-image: url(img/ennemi/ennemi_fixe.png);
  background-size: cover;
  position: absolute;
  bottom: 150px;
  right: 350px;
}

#ennemi6{
  height: 50px;
  width: 50px;
  background-image: url(img/ennemi/ennemi_fixe.png);
  background-size: cover;
  position: absolute;
  top: 150px; 
  right: 350px;
}

.box-titre{
  height: 100%;
}

.box-cooldown{
  height: 200px;
}


/* BOMBES */
.bombashit{
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url(img/bombe/bombe.gif);
  background-size: cover;
}

/* EXPLOSION */
.explosion{
  position: absolute;
  height: 50px;
  width: 50px;
  background-image: url(img/bombe/bombe.png);
  background-size: cover;
	transition: width 5s ease-in;
	transition: height 5s ease-in;
	transition: bottom 5s ease-in;
	transition: left 5s ease-in;

}
.ex2{
  width: 150px;
  height: 150px;
  background-image: url(img/bombe/explosion-gif-png-3.gif);
  background-size: cover;
}
/* DISPLAY NONE */
.dis-none{
  display: none;
}

#start{
	position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-image: url(img/Background/plaquette.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.custom-cursor{
	cursor: pointer;
}


section{
  display: flex;
  justify-content: space-around;
	align-items: center;
  height: 93vh;

}


.col-width{
  width: 300px;

}

/* WIN */

#win{
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-image: url(img/Background/background_win.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

#suicide{
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-image: url(img/Background/background_gameover2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
/* GAME OVER */

#retry{
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-image: url(img/Background/background_gameover.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
#retry-content{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-screen-retry{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  text-align: center;
}

#gameover{
  width: auto;
  height: 100%;
  margin-top: 5px;
}
#gameover1{
  width: auto;
  height: 75%;
  margin-top: 5px;
}
  #col-droite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#col-gauche{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* COOLDOWN */
#cooldown-nav{
	display: flex;
	justify-content: space-around;
	margin-top: 5px;
}
.affiche-cd{
	position: relative;
	height: 100px;
	width: 100px;
	margin: 5px;
}
#cooldown-dropBomb, #time-cooldown-dropBomb, #cooldown-gModeAfterHit, #time-cooldown-gModeAfterHit{
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid black;
}
.times{
	background-image: url(img/Barres/carreNR.gif);
	opacity: 0.5;
}
/* COULEUR COOLDOWN */
.coolBomb{
  background : url(img/Barres/bombe_temp.gif);

}
.coolGmod{
  background : url(img/Barres/LEbibi.gif);
}
/* BOUTON RETRY */
#retry-button1, #retry-button2, #retry-button3{
  cursor : pointer;

}
/* NOMBRE DE VIES */
.nombrevie1{
  width: 20%;
  padding-top: 20px;
  display: block;
}
.nombrevie2{
  width: 20%;
  padding-top: 20px;
  display: block;
}
.nombrevie3{
  width: 20%;
  padding-top: 20px;
  display: block;
}
/* NOMBRE DE BOMBES */
.nombrebombe1{
  width: 20%;
  padding-top: 20px;
  display: block;
}
.nombrebombe2{
  width: 20%;
  padding-top: 20px;
  display: block;
}
.nombrebombe3{
  width: 20%;
  padding-top: 20px;
  display: block;
}

/* FOOTER */
footer{
  height: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}